.tab-content {
  margin-top: 1em;

  .mugiwait {
    width: 300px;
  }

  .ratings, .hall-of-fames {
    display: flex;
    flex-direction: column;
    gap: 50px;


    .rating, .hall-of-fame {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;

      .info-section {
        flex-basis: content;
        .comment-face-image {
          width: 500px;
          margin-bottom: 27px;
        }
      }

      .chart-wrapper {
        width: 100%;
      }
    }
  }
}
