<!--<div>-->
<!--  Gon data-->
<!--  <pre id="debug"></pre>-->
<!--</div>-->

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#ratings-tab-pane" type="button" role="tab" aria-controls="ratings-tab-pane" aria-selected="true">
        Ratings
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#last-seasons-tab-pane" type="button" role="tab" aria-controls="last-seasons-tab-pane" aria-selected="false">
        Last Season's Comparison
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#hall-of-fame-tab-pane" type="button" role="tab" aria-controls="hall-of-fame-tab-pane" aria-selected="false">
        Hall of Fame
      </button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="ratings-tab-pane" role="tabpanel" aria-labelledby="ratings-tab" tabindex="0">
      <div class="ratings-tab">
        <h3>Ratings</h3>
        <div class="sorter-controls"> TODO sorter controls</div>
        <div class="baseball-explain">Baseball's top weighted is a custom-made metric to favor higher scores. It's
          calculated by assigning these weights depending on which score:
          {<%= ChartService::BASEBALLS_TOP_WEIGHTED_WEIGHTS.map { |k, v| "#{k}: #{v}" }.join(", ") %>}
          And then adding them all together, multiplying by <%= ChartService::BASEBALLS_TOP_WEIGHTED_MULTIPLIER %>, and
          then dividing by the number of respondents for that question
        </div>
        <div class="ratings"></div>
      </div>
    </div>
    <div class="tab-pane fade" id="last-seasons-tab-pane" role="tabpanel" aria-labelledby="last-seasons-tab" tabindex="0">
      <img class="mugiwait" src="https://github.com/r-anime/comment-face-assets/blob/master/source/static/mugiwait/original/mugiwait.jpg?raw=true"/>
    </div>
    <div class="tab-pane fade" id="hall-of-fame-tab-pane" role="tabpanel" aria-labelledby="hall-of-fame-tab" tabindex="0">
      <div class="hall-of-fame-tab">
        <h3>Hall of Fame Voting</h3>
        <div class="sorter-controls"> TODO sorter controls</div>
        <div class="hall-of-fames"></div>
      </div>
    </div>
  </div>
</div>

