<h1 class="text-primary">Survey</h1>
<p class="lead">This is a simple Bootstrap-styled Sinatra app.</p>
<a href="#" class="my-button btn btn-success">Click Me</a>

<div>
  Gon data
  <pre id="debug"></pre>
</div>

<div>
  TODO tab this
  <div class="ratings-tab">
    <h3>Ratings</h3>
    <div class="sorter-controls"> TODO sorter controls</div>
    <div class="ratings"></div>
  </div>
</div>

