<div>
  Gon data
  <pre id="debug"></pre>
</div>

<div>
  TODO tab this
  <div class="ratings-tab">
    <h3>Ratings</h3>
    <div class="sorter-controls"> TODO sorter controls</div>
    <div class="ratings"></div>
  </div>
</div>

